<app-navbar [username]="this.firestore.user?.email"></app-navbar>

<div class="row w-100">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="container">
      <div class="row row-cols-auto gx-4 justify-content-center">
        <app-item [price]="product.price" [description]="product.description" [name]="product.name" class="col"
                  *ngFor="let product of products"></app-item>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>



<!-- Modal -->

<div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountModalLabel">Account settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
            <span class="input-group-text">
              <mat-icon>dialpad</mat-icon>
            </span>
              <input [(ngModel)]="phoneNumber" type="tel" class="form-control mat-danger"
                     id="phoneNumber" name="pass" placeholder="phone number">
            </div>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
            <span class="input-group-text">
              <mat-icon>lock</mat-icon>
            </span>
              <input [(ngModel)]="oldPassword" type="password" class="form-control mat-danger"
                     id="oldPass" name="pass" placeholder="old password">
            </div>
            <div class="input-group mb-3">
            <span class="input-group-text">
              <mat-icon>lock</mat-icon>
            </span>
              <input [(ngModel)]="newPassword" type="password" class="form-control mat-danger"
                     id="newPass" name="pass" placeholder="new password">
            </div>
            <div class="input-group mb-3">
            <span class="input-group-text">
              <mat-icon>lock</mat-icon>
            </span>
              <input [(ngModel)]="confirmPassword" type="password" class="form-control mat-danger"
                     id="confirmNewPass" name="pass" placeholder="confirm password">
            </div>
            <button type="button" class="btn btn-danger" (click)="displayModal()">Save changes</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="closeModalBtn" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
