<li class="list-group-item">
  <div class="row justify-content-between">
    <div class="col-9">
      <img src="assets/products/vodka_absolute.png" style="width: 200px; height: 200px"
           class="float-start img-fluid rounded-circle" alt="ffff">
      <h2>Absolut Vodka</h2>
      <p>Absolut Vodka is the leading brand of Premium vodka offering the true taste of vodka in original or your
        favorite flavors made from natural ingredients.
      </p>
    </div>
    <div class="col-3 w-auto">
      <div class="input-group mb-3" style="max-width: 120px">
        <span class="input-group-text bg-primary bg-gradient text-white" style="font-size: large; cursor: pointer">-</span>
        <input type="text" class="form-control text-center" readonly value="0">
        <span class="input-group-text bg-primary bg-gradient text-white" style="font-size: large; cursor: pointer">+</span>
      </div>
      <br>
      <br>
      <button type="button" class="btn btn-danger align-self-end" style="font-size: 18px">
        Remove Item
        <span>
                  <mat-icon class="float-start">delete_forever</mat-icon>
                </span>
      </button>
    </div>
    <div class="col-4">
    </div>
  </div>
</li>
