<div class="card mt-2" style="width: 18rem; background-color: rgba(255,255,255,0.5)">
  <img src="../../../assets/products/{{image_name}}" class="card-img-top" alt="card image">
  <div class="card-body">
    <h5 class="card-title  text-black-50">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <button class="btn btn-dark mb-2" [disabled]="this.firebase.delay" (click)="addItemToCart()">Add to cart
      </button>
    <span class="badge text-primary"><h2>${{price}}</h2></span>
  </div>
</div>
